@import "tailwindcss";
@import "tw-animate-css";

/* ========= BOSKA ========= */
@font-face {
  font-family: "Boska";
  src: url("/fonts/DancingScript-Regular.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* ========= BESPOKE SANS ========= */
@font-face {
  font-family: "BespokeSans";
  src: url("/fonts/BespokeSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ========= THEME ========= */
@theme {
  --font-family-display: "Boska", serif;
  --font-family-body: "BespokeSans", sans-serif;
}

/* ========= UTILITIES ========= */
@layer utilities {
  .font-display {
    font-family: var(--font-family-display);
  }

  .font-body {
    font-family: var(--font-family-body);
  }
}