@import "tailwindcss";

@theme {
  --color-light: #e4e6c3;
  --color-olive: #899878;
  --color-dark: #262620;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: #e4e6c3;
}